<div class='player-result'>
	<div class='player-details'>
		<div class='player-avatar' style="background-image: url(http://scrolldier.com/resources/head_135.png);"></div>
		<h4>{{ player_1.ingamename }}</h4>
	</div>
	{% set s = player_1.getBracketScore(bracket.id) %}
	<div class='player-score'>{{ s != -1 ? s : 'No score yet' }}</div>
</div>

<div class='vs'>VS</div>

<div class='player-result'>
	<div class='player-details'>
		<div class='player-avatar' style="background-image: url(http://scrolldier.com/resources/head_135.png);"></div>
		<h4>{{ player_2.ingamename }}</h4>
	</div>
	{% set s = player_2.getBracketScore(bracket.id) %}
	<div class='player-score'>{{ s != -1 ? s : 'No score yet' }}</div>
</div>

{% if bracket.matchid != -1 %}
	<div class='view-more'>
		<a href='{{ path('view_match', { id: bracket.matchid }) }}'>View full match details</a>
	</div>
{% endif %}