{% extends "base.html.twig" %}
{% block content %}
	
	<div class="container bracket" style="margin-top: 30px;">
		<div class="row">
			<p>
				<i class="fa fa-circle color-not-started"></i> <b>Match has not started</b>
				<i class="fa fa-circle color-started"></i> <b>Match has started</b>
				<i class="fa fa-circle color-finished"></i> <b>Match is over</b> 
			</p>
		</div>
		
		{% for flash in app.session.flashbag.get('tournament_message') %}
			<div class="alert alert-success">{{ flash }}</div>
		{% endfor %}
		
		{% block tournament_actions %}
		
		{% endblock %}
		
		<ul class='nav nav-tabs'>
			<li><a data-toggle='tab' href='#overview'>Overview</a></li>
			<li class='active'><a data-toggle='tab' href='#bracket'>Bracket</a></li>
			<li><a data-toggle='tab' href='#admin'>Admin</a></li>
		</ul>
		
		<div class='tab-content'>
			<div id='overview' class='tab-pane fade'>
				<!-- Finals -->
				<div class="row">
					<!-- ['Tournament name'] = Tournament name,  ['how far in the tournament'] = Quarters, Semi finas, fianls etc..-->
					<h1 class="text-center">{{ tournament.name }}<br /><i class="fa fa-circle color-started"></i> Finals<br /><small>(Best of X)</small></h1>
					<div class="col-md-3 col-sm-3 text-right hidden-xs">
						<!-- Insert Animated avatar like the SG profiles -->
						<img src="http://scrolldier.com/userAvatar/orangee" alt="" height="500px" />
					</div>
					
					<div class="col-md-6 col-sm-6">
						
						<div class="col-md-5 col-xs-5 text-center">
							 <!-- Names likes to scrolldier or SG profiles -->
							<h2><a target="_blank" href="http://scrolldier.com/user/orangee">Orangee</a></h2>
							<span><img src="http://i.imgur.com/0njz5pI.png" alt="" width="100%"/></span>
							
						</div>
						<div class="col-md-2 col-xs-2 text-center">
							<!-- Numbers are number of wins for each player -->
							<h2><b>3</b> VS <b>2</b></h2>
						</div>
						<div class="col-md-5 col-xs-5 text-center">
							 <!-- Names likes to scrolldier or SG profiles -->
							<h2><a target="_blank" href="http://scrolldier.com/user/kBasten">kBasten</a></h2>
							<span><img src="http://i.imgur.com/2cAp13M.png" alt="" width="100%"/></span>
						</div>
						
						<div class="col-md text-center" style="margin-top: 300px;">
							<h2><i class="fa fa-circle color-not-started"></i> Bronze Finals</h2>
							

							<p class=""><small>(Best of 3)</small></p>
								<div class="col-md-6 col-sm-6 col-xs-6">				
									<div class="player-head" style="background-image: url(http://scrolldier.com/resources/head_13.png);"></div>
									<span><b>Zylus</b> (2)</span>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="player-head flip" style="background-image: url(http://scrolldier.com/resources/head_197.png);"></div>
									<span>(1) Blinky</span>
								</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-3 hidden-xs text-left">
						<!-- Insert Animated avatar like the SG profiles flip this one 180deg-->
						<img src="http://scrolldier.com/userAvatar/kBasten" alt="" class="flip" height="500px" />
					</div>
				</div>
				
				<!-- Semi Finals -->
				<div class="row text-center">
				
					<div class="col-md-6 col-sm-6 col-xs-6 match tops left-win">
						<!-- add classes to FA icon color-not-started, color-started, color-finished-->
						<p class=""><i class="fa fa-circle color-not-started"></i> <b>Semi Finals</b><br /><small>(Best of 3)</small></p>
						<div class="col-md-6 col-sm-6 col-xs-6">				
							<div class="player-head" style="background-image: url(http://scrolldier.com/resources/head_135.png);"></div>
							<span><b>Orangee</b> (2)</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="player-head flip" style="background-image: url(http://scrolldier.com/resources/head_13.png);"></div>
							<span>(1) Zylus</span>
						</div>
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-6 match tops left-win">
						<!-- add classes to FA icon color-not-started, color-started, color-finished-->
						<p class=""><i class="fa fa-circle color-started"></i> <b>Semi Finals</b><br /><small>(Best of 3)</small></p>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="player-head" style="background-image: url(http://scrolldier.com/resources/head_37.png);"></div>
							<span><b>kbasten</b> (2)</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="player-head flip" style="background-image: url(http://scrolldier.com/resources/head_197.png);"></div>
							<span>(0) Blinky</span>
						</div>
					</div>
				</div>
				
				<!-- Quaters -->
				<div class="row text-center">
					<div class="col-md-3 col-sm-3 col-xs-6 match tops left-win">
						<!-- add classes to FA icon color-not-started, color-started, color-finished-->
						<p class=""><i class="fa fa-circle color-finished"></i> <b>Quarter Finals</b><br /><small>Single Elimination</small></p>
						<div class="col-md-6">
							<span><b>Orangee</b></span>
						</div>
						<div class="col-md-6">
							<span>player</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 match tops right-win">
						<!-- add classes to FA icon color-not-started, color-started, color-finished-->
						<p class=""><i class="fa fa-circle color-finished"></i> <b>Quarter Finals</b><br /><small>Single Elimination</small></p>
						<div class="col-md-6">
							<span>player</span>
						</div>
						<div class="col-md-6">
							<span><b>Zylus</b></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 match tops left-win">
						<!-- add classes to FA icon color-not-started, color-started, color-finished-->
						<p class=""><i class="fa fa-circle color-finished"></i> <b>Quarter Finals</b><br /><small>Single Elimination</small></p>
						<div class="col-md-6">
							<span><b>kBasten</b></span>
						</div>
						<div class="col-md-6">
							<span>iwantanickplease</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 match tops right-win">
						<!-- add classes to FA icon color-not-started, color-started, color-finished-->
						<p class=""><i class="fa fa-circle color-finished"></i> <b>Quarter Finals</b><br /><small>Single Elimination</small></p>
						<div class="col-md-6">
							<span>player</span>
						</div>
						<div class="col-md-6">
							<span><b>Blinky</b></span>
						</div>
					</div>
				</div>
				
				<!-- 16O -->
				<div class="row text-center">
					<div class="col-md-3">	
						<div class="col-md-6 col-sm-6 col-xs-4 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 1</b></span>
							</div>
							
							<div class="col-md-12 col-sm-6">
								<span>player 2</span>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-4 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 3</b></span>
							</div>
							
							<div class="col-md-12 col-sm-6">
								<span>player 4</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">	
						<div class="col-md-6 col-sm-6 col-xs-4 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 5</b></span>
							</div>
							
							<div class="col-md-12 col-sm-6">
								<span>player 6</span>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-4 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 7</b></span>
							</div>
							<div class="col-md-12 col-sm-6">
								<span>player 8</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">	
						<div class="col-md-6 col-sm-6 col-xs-4 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 9</b></span>
							</div>
							<div class="col-md-12 col-sm-6">
								<span>player 10</span>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-4 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 11</b></span>
							</div>
							<div class="col-md-12 col-sm-6">
								<span>player 12</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">	
						<div class="col-md-6 col-sm-6 col-xs-6 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 13</b></span>
							</div>
							<div class="col-md-12 col-sm-6">
								<span>player 14</span>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-6 match">
							<!-- add classes to FA icon color-not-started, color-started, color-finished-->
							<p class=""><i class="fa fa-circle color-finished"></i> <b>Match</b></p>
							<div class="col-md-12 col-sm-6">
								<span><b>player 15</b></span>
							</div>
							<div class="col-md-12 col-sm-6">
								<span>player 16</span>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Optional More bracets -->
				<div class="row text-center">
					<div class="col-md-3 col-sm-3 col-xs-6 match">
					
						<a href="#">Earlier brackets</a>
					
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 match">
					
						<a href="#">Earlier brackets</a>
						
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 match">
					
						<a href="#">Earlier brackets</a>
					
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 match">

						<a href="#">Earlier brackets</a>
						
					</div>
				</div>
			</div>
			<div id='admin' class='tab-pane fade'>
				<div class="row">
					<div class="row">
						<div class="form-group">
						   	<div class="col-sm-12 text-center">
						   			<br />
						   			<a class="btn btn-primary btn-lg" href="{{ path('tournament_start', { name: tournament.name }) }}">Start</a>
						   		<div class="col-sm-12">
						    		<label class="" for="">Create the brackets and start the tournament</label>
						    	</div>
						   	</div>
						 </div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<h2>Players Signed up <small>{{ tournament.players|length }}</small></h2>
							
							<div class="col-sm-11">
								<div class="form-group">
								     <label for="twitch_imput">Search</label>
								     
								     <input type="search" id="twitch_imput" class="form-control" placeholder="Search player...">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="col-lg-12">
								<p>
									<i class="fa fa-circle color-not-started"></i> <b>Not checked inn</b>
									<i class="fa fa-circle color-started"></i> <b>Checked inn</b>
								</p>
								</div>
								<div class="col-lg-12">
								<ul>
									<li><i class="fa fa-circle color-started"></i> player 1 </li>
									<li><i class="fa fa-circle color-started"></i> player 2</li>
									<li><i class="fa fa-circle color-not-started"></i> player 3</li>
									<li><i class="fa fa-circle color-started"></i> player 4</li>
									<li><i class="fa fa-circle color-started"></i> player 5</li>
								</ul>
								</div>
							</div>
						</div>
			<div class="col-lg-8">
			
				<div class="form-group">
				     <label for="twitch_input">Name</label>
				     <input type="text" id="twitch_input" class="form-control" placeholder="Tournament Name" value="{{ tournament.name }}">
				</div>
				<div class="form-group">
				     <label for="gold_input">Registration fee(In-Game Gold)</label>
				     <input type="number" id="gold_input" min="0" class="form-control" placeholder="0" value="">
				</div>
				<div class="checkbox">
				   <label>
				     <input type="checkbox"> Hide tournament (This tournament will not be listed)
				   </label>
				 </div>
				<div class="form-group">
					<label class="control-label" for="desc">Description of the tournament</label>
					<textarea class="form-control" id="desc" rows="5"></textarea>
				</div>
				<div class="form-group">
				     <label for="twitch_imput">Twitch Stream</label>
				     <input type="text" id="twitch_imput" class="form-control" placeholder="http://twitch.tv/username">
				</div>
				
				
				<fieldset disabled>
					<div class="form-group">
						<label class="control-label" for="log">Tournament Log</label>
						<textarea class="form-control" id="log" rows="5">{% for l in tournament.loglines %}{{ l.time|date('d/m/Y H:i:s') }}: {{ l.line }}
				{% endfor %}</textarea>
					</div>
				</fieldset>


			</div>
					</div>
				</div>
			</div>
			<div id='bracket' class='tab-pane fade'>
				Bracket

				<!--<div id="bracket-graph-new"></div>-->
			</div>
			<div id='bracket-test' class='tab-pane fade in active'>
				<div id="bracket-graph">
					Bracket:
					{% include 'bracket_render.html.twig' %}
				
				</div>			
			</div>
		</div>
	</div>
	
{% endblock %}
{% block customjs %}
<script type="text/javascript">

	var minimalData = {
	teams : [
		["Team 1", "Team 2"], /* first matchup */
		["Team 3", "Team 4"],  /* second matchup */
		["Team 5", ""],
		["Team 7", ""]
	],
	results : [
		[
			[[1,2], [3,4], [5, 6], [7, 0]],       /* first round */
			[[4,6], [2,1]],        /* second round */
			[[4,3], [3, 5]]
		]
	]
	}

	$(function() {
		$('#bracket-graph-new').bracket({
			init: minimalData,
			byes: "byes"
		})
	})
</script>
<script type='text/javascript' src='{{ cdn_asset('/assets/js/tournament_renderer.js') }}'></script>
{% endblock %}