{% extends "base.html.twig" %}
{% block content %}


	<!-- TODO: only include if admin -->
	{% include 'admin/update_bracket_modal.html.twig' %}


	<div class="modal fade" role="dialog" id="view-score-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Match details</h4>
				</div>
				<div class="modal-body clearfix">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<p>
				<i class="fa fa-circle color-not-started"></i> <b>Match has not started</b>
				<i class="fa fa-circle color-started"></i> <b>Match has started</b>
				<i class="fa fa-circle color-finished"></i> <b>Match is over</b>
			</p>
		</div>

		{% for flash in app.session.flashbag.get('tournament_message') %}
			<div class="alert alert-success">{{ flash }}</div>
		{% endfor %}

		{% for flash in app.session.flashbag.get('tournament_error') %}
			<div class="alert alert-danger">{{ flash }}</div>
		{% endfor %}

		{% block tournament_actions %}

		{% endblock %}

		<ul class='nav nav-tabs'>
			<li><a data-toggle='tab' href='#overview'>Overview</a></li>
			<li class='active'><a data-toggle='tab' href='#bracket'>Bracket</a></li>
			<li><a data-toggle='tab' href='#bracket-swiss'>Swiss</a></li>
			<li><a data-toggle='tab' href='#admin'>Admin</a></li>
		</ul>

		<div class='tab-content'>
			<div id='overview' class='tab-pane fade bracket'>
				<div class="page-header">
					<h2>{{ tournament.name }}
						<small>{{ tournament.players|length }} player {{ tournamentType(tournament) }}</small>
					</h2>
				</div>

				<!-- 			Twitch Stream if admin have one -->
				<div class="col-lg-12">

					<div class="col-lg-8">
						<!--<iframe src="http://www.twitch.tv/joyfulrogue/embed" frameborder="0" scrolling="no" height="500" width="100%"></iframe>-->
						<a href="http://www.twitch.tv/joyfulrogue?tt_medium=live_embed&tt_content=text_link&auto_play=false" style="padding:2px 0px 4px; display:block; width:100%; font-weight:normal; font-size:10px;text-decoration:underline;">Watch
							live video from {streamer} on www.twitch.tv</a>
					</div>
					<div class="col-lg-4">
						<!--<iframe src="http://www.twitch.tv/joyfulrogue/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>-->
					</div>
				</div>
				<!-- 			End of Twitch Stream -->

				<div class="col-lg-12">
					<ul class="list-unstyled">
						<!--  impratet smalls tuff -->
						<li>Registration fee: <b>1000g</b></li>
						<li>Admin: {adminname}</li>
						<li>Moderator: {modname's}</li>
					</ul>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-8">
						<p>{{ tournament.description }}</p>
					</div>
					<div class="col-lg-4">
						<ul class="list-unstyled players">
								<li class="text-center players-header">Participating players</li>
							{% for player in tournament.players %}
								<li>{{ player.ingamename }} <span class="pull-right"><a href="#decklink">Deck 1</a> - <a href="#decklink">Deck 2</a></span></li>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>
			<div id='admin' class='tab-pane fade'>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<br />
							<a class="btn btn-primary btn-lg" href="{{ path('tournament_start', { name: tournament.url }) }}">Start {{ tournament.name }}</a>

							<div class="col-sm-12">
								<label class="" for="">Create the brackets and start the tournament</label>
							</div>

						</div>
					</div>
				</div>
				<form method="post" action="">
					<div class="row">
						<div class="col-md-4">
							<h2>Players Signed up
								<small>{{ tournament.players|length }}</small>
							</h2>
							<div class="col-md-12">
								<div class="form-group">
									<label for="twitch_imput">Search</label>
									<input type="search" id="twitch_imput" class="form-control" placeholder="Search player...">
								</div>
							</div>
							<div class="col-md-12">
								<p>
									<i class="fa fa-circle color-not-started"></i> <b>Not checked in</b>
									<i class="fa fa-circle color-started"></i> <b>Checked in</b>
								</p>
								<ul class="list-unstyled">
									{% for player in tournament.players %}
										<li><i class="fa fa-circle color-started"></i> {{ player.ingamename }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" id="name" class="form-control" placeholder="Tournament Name" value="{{ tournament.name }}" disabled="disabled" />
							</div>
							<div class="form-group">
								<label for="gold_input">Registration fee(In-Game Gold)</label>
								<input type="number" id="gold_input" min="0" class="form-control" placeholder="0" value="" disabled="disabled" />
							</div>
							{% if tournament.isInviteOnly() %}
								{% if tournament.invite %}
									<div class="form-group">
										<label for="invite_code">Invite code</label>
										<input type="text" id="invite_code" class="form-control" value="{{ tournament.invite.code }}" disabled="disabled" />
									</div>
									<div class="form-group">
										<label for="invite_url">Invite URL</label>
										<input type="text" id="invite_url" class="form-control" value="{{ fullPath('tournament_invite', { code: tournament.invite.code }) }}" disabled="disabled" />
									</div>
								{% endif %}
							{% endif %}
							<div class="form-group">
								<label class="control-label" for="desc">Description of the tournament</label>
								<textarea class="form-control" id="desc" rows="5">{{ tournament.description }}</textarea>
							</div>
							<div class="form-group">
								<label for="twitch-input">Twitch Stream</label>
								<input type="text" id="twitch-input" class="form-control" placeholder="http://twitch.tv/username" />
							</div>
							<fieldset disabled>
								<div class="form-group">
									<label class="control-label" for="log">Tournament Log</label>
									<textarea class="form-control" id="log" rows="5">{% for l in tournament.loglines %}{{ l.time|date('d/m/Y H:i:s') }}: {{ l.line }}
{% endfor %}</textarea>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>

					</div>
				</form>
			</div>
			<div id='bracket' class='tab-pane fade in active'>
				<!-- Finals -->
				<div class="row">
					<h1 class="text-center">{{ tournament.name }}<br />
						{{ tournament.players|length }} player {{ tournamentType(tournament) }}
						<br /><i class="fa fa-circle color-started"></i> Finals<br />
						<small>(Best of X)</small>
					</h1>
					<div class="col-md-3 col-sm-3 text-right hidden-xs">
						<!-- Insert Animated avatar like the SG profiles -->
						<img src="http://scrolldier.com/userAvatar/orangee" alt="" height="500px" />
					</div>

					<div class="col-md-6 col-sm-6">

						<div class="col-md-5 col-xs-5 text-center">
							<!-- Names likes to scrolldier or SG profiles -->
							<h2><a target="_blank" href="http://scrolldier.com/user/orangee">Orangee</a></h2>
							<span><img src="http://i.imgur.com/0njz5pI.png" alt="" width="100%" /></span>

						</div>
						<div class="col-md-2 col-xs-2 text-center">
							<!-- Numbers are number of wins for each player -->
							<h2><b>3</b> VS <b>2</b></h2>
						</div>
						<div class="col-md-5 col-xs-5 text-center">
							<!-- Names likes to scrolldier or SG profiles -->
							<h2><a target="_blank" href="http://scrolldier.com/user/kBasten">kBasten</a></h2>
							<span><img src="http://i.imgur.com/2cAp13M.png" alt="" width="100%" /></span>
						</div>

						<div class="col-md text-center" style="margin-top: 300px;">
							<h2><i class="fa fa-circle color-not-started"></i> Bronze Finals</h2>

							<p class="">
								<small>(Best of 3)</small>
							</p>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="player-head" style="background-image: url(http://scrolldier.com/resources/head_13.png);"></div>
								<span><b>Zylus</b> (2)</span>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="player-head flip" style="background-image: url(http://scrolldier.com/resources/head_197.png);"></div>
								<span>(1) Blinky</span>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 hidden-xs text-left">
						<!-- Insert Animated avatar like the SG profiles flip this one 180deg-->
						<img src="http://scrolldier.com/userAvatar/kBasten" alt="" class="flip" height="500px" />
					</div>
				</div>

				<div class='bracket-graph-se'>
					{% include 'bracket_render_se.html.twig' %}
				</div>
			</div>
			<div id='bracket-swiss' class='tab-pane fade'>
				<div class='bracket-graph-swiss'>
					{% include 'bracket_render_swiss.html.twig' %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block customcss %}
	<link rel="stylesheet" href="{{ cdn_asset('/assets/styles/vendor/jquery.bracket.css') }}" />
{% endblock %}
{% block customjs %}
	<script type='text/javascript' src='{{ cdn_asset('/assets/js/tournament_renderer.js') }}'></script>
	<script type='text/javascript' src='{{ cdn_asset('/assets/js/tournament_admin.js') }}'></script>
{% endblock %}