{% extends "base.html.twig" %}
{% block content %}


	{% if is_admin %}
		{% include 'admin/update_bracket_modal.html.twig' %}
	{% endif %}


	<div class="modal fade" role="dialog" id="view-score-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Match details</h4>
				</div>
				<div class="modal-body clearfix">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<p>
				<i class="fa fa-circle color-not-started"></i> <b>Match has not started</b>
				<!--<i class="fa fa-circle color-started"></i> <b>Match has started</b>-->
				<i class="fa fa-circle color-started"></i> <b>Match is over</b>
			</p>
		</div>

		{% for flash in app.session.flashbag.get('tournament_message') %}
			<div class="alert alert-success">{{ flash }}</div>
		{% endfor %}

		{% for flash in app.session.flashbag.get('tournament_error') %}
			<div class="alert alert-danger">{{ flash }}</div>
		{% endfor %}

		{% block tournament_actions %}

		{% endblock %}

		<ul class='nav nav-tabs'>
			<li><a data-toggle='tab' href='#overview'>Overview</a></li>
			<li class='active'><a data-toggle='tab' href='#bracket'>Bracket</a></li>
			{% if is_participating %}
				<li><a data-toggle='tab' href="#mydetails">My details</a></li>
			{% endif %}
			<!--<li><a data-toggle='tab' href='#bracket-swiss'>Swiss</a></li>-->
			<li><a data-toggle='tab' href='#tournament-log'>Log</a></li>
			{% if is_admin %}
				<li><a data-toggle='tab' href='#admin'>Admin</a></li>
			{% endif %}
		</ul>

		<div class='tab-content'>
			<div id='overview' class='tab-pane fade bracket'>
				<div class="page-header">
					<h2>{{ tournament.name }}
						<small>{{ tournament.players|length }} player {{ tournamentType(tournament) }}</small>
					</h2>
				</div>

				<!-- 			Twitch Stream if admin have one -->
				<div class="col-lg-12">

					<div class="col-lg-8">
						<!--<iframe src="http://www.twitch.tv/joyfulrogue/embed" frameborder="0" scrolling="no" height="500" width="100%"></iframe>-->
						<a href="http://www.twitch.tv/joyfulrogue?tt_medium=live_embed&tt_content=text_link&auto_play=false" style="padding:2px 0px 4px; display:block; width:100%; font-weight:normal; font-size:10px;text-decoration:underline;">Watch
							live video from {streamer} on www.twitch.tv</a>
					</div>
					<div class="col-lg-4">
						<!--<iframe src="http://www.twitch.tv/joyfulrogue/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>-->
					</div>
				</div>
				<!-- 			End of Twitch Stream -->

				<div class="col-lg-12">
					<ul class="list-unstyled">
						<!--  impratet smalls tuff -->
						<li>Registration fee: <b>1000g</b></li>
						<li>Admin: {adminname}</li>
						<li>Moderator: {modname's}</li>
					</ul>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-8">
						<p>{{ tournament.description }}</p>
					</div>
					<div class="col-lg-4">
						<ul class="list-unstyled players">
							<li class="text-center players-header">Participating players</li>
							{% for player in tournament.players %}
								<li>{{ player.ingamename }} <!--<span class="pull-right"><a href="#decklink">Deck
											1</a> - <a href="#decklink">Deck 2</a></span>--></li>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>
			{% if is_admin %}
				<div id='admin' class='tab-pane fade'>
					{% if tournament.tournamentstate != 2 %}
						<div class="row">
							<div class="form-group">
								<div class="col-sm-12 text-center">
									<br />
									<a class="btn btn-primary btn-lg" href="{{ path('tournament_start', { name: tournament.url }) }}" name="btn-start" data-attr-clicked="0">Start {{ tournament.name }}</a>

									<div class="col-sm-12">
										<label class="" for="">Create the brackets and start the tournament</label>
									</div>

								</div>
							</div>
						</div>
					{% endif %}
					<form method="post" action="{{ path('tournament_save') }}">
						<div class="row">
							<div class="col-md-4">
								<h2>Players Signed up
									<small>{{ tournament.players|length }}</small>
								</h2>
								<div class="col-md-12">
									<div class="form-group">
										<label for="twitch_imput">Search</label>
										<input type="search" id="twitch_imput" class="form-control" placeholder="Search player...">
									</div>
								</div>
								<div class="col-md-12">
									<p>
										<i class="fa fa-circle color-not-started"></i> <b>Not checked in</b>
										<i class="fa fa-circle color-started"></i> <b>Checked in</b>
									</p>
									<ul class="list-unstyled">
										{% for player in tournament.players %}
											<li><i class="fa fa-circle color-started"></i> {{ player.ingamename }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" id="name" class="form-control" placeholder="Tournament Name" value="{{ tournament.name }}" disabled="disabled" />
								</div>
								<div class="form-group">
									<label for="gold_input">Registration fee(In-Game Gold)</label>
									<input type="number" id="gold_input" min="0" class="form-control" placeholder="0" value="" disabled="disabled" />
								</div>
								{% if tournament.isInviteOnly() %}
									{% if tournament.invite %}
										<div class="form-group">
											<label for="invite_code">Invite code</label>
											<input type="text" id="invite_code" class="form-control" value="{{ tournament.invite.code }}" disabled="disabled" />
										</div>
										<div class="form-group">
											<label for="invite_url">Invite URL</label>
											<input type="text" id="invite_url" class="form-control" value="{{ fullPath('tournament_invite', { code: tournament.invite.code }) }}" disabled="disabled" />
										</div>
									{% endif %}
								{% endif %}
								<div class="form-group">
									<label class="control-label" for="desc">Description of the tournament</label>
									<textarea class="form-control" name="desc" id="desc" rows="5">{{ tournament.description }}</textarea>
								</div>
								<div class="form-group">
									<label for="twitch-input">Twitch Stream</label>
									<input type="text" id="twitch-input" class="form-control" placeholder="http://twitch.tv/username" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<input type="hidden" name="id" value="{{ tournament.id }}" />
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>

						</div>
					</form>
				</div>
			{% endif %}
			<div id='bracket' class='tab-pane fade in active'>
				<!-- Finals -->
				<div class="row">
					<h1 class="text-center">{{ tournament.name }}<br />
						{{ tournament.players|length }} player {{ tournamentType(tournament) }}
						<br /><i class="fa fa-circle color-started"></i> Finals<br />
						<small>(Best of X)</small>
					</h1>

					<!--
					<div class="col-md-3 col-sm-3 text-right hidden-xs">
						<img src="http://scrolldier.com/userAvatar/Orangee" alt="" height="500px" />
					</div>

					<div class="col-md-6 col-sm-6">

						<div class="col-md-5 col-xs-5 text-center">
							<h2><a target="_blank" href="http://scrolldier.com/user/orangee">Atmaz</a></h2>
							<span><img src="http://i.imgur.com/0njz5pI.png" alt="" width="100%" /></span>

						</div>
						<div class="col-md-2 col-xs-2 text-center">
							<h2><b>2</b> VS <b>1</b></h2>
						</div>
						<div class="col-md-5 col-xs-5 text-center">
							<h2><a target="_blank" href="http://scrolldier.com/user/SpiffyDrew">SpiffyDrew</a></h2>
							<span><img src="http://i.imgur.com/2cAp13M.png" alt="" width="100%" /></span>
						</div>

						<div class="col-md text-center" style="margin-top: 300px;">
							<h2><i class="fa fa-circle color-not-started"></i> Bronze Finals</h2>

							<p class="">
								<small>(Best of 3)</small>
							</p>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="player-head" style="background-image: url(http://scrolldier.com/resources/head_13.png);"></div>
								<span><b>Zylus</b> (2)</span>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="player-head flip" style="background-image: url(http://scrolldier.com/resources/head_197.png);"></div>
								<span>(1) Orangee</span>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 hidden-xs text-left">
						<img src="http://scrolldier.com/userAvatar/kBasten" alt="" class="flip" height="500px" />
					</div>
					-->
				</div>

				<div class='bracket-graph bracket-graph-se'>
					{% if tournament.inProgress() or tournament.isFinished() %}
						{% include 'bracket_render_se.html.twig' with { 'rounds': tournament.rounds } %}
					{% else %}
						Brackets will be displayed after the tournament has started.
					{% endif %}
				</div>
			</div>
			<!--
				<div id='bracket-swiss' class='tab-pane fade'>
					<div class='bracket-graph bracket-graph-swiss'>
						{% include 'bracket_render_swiss.html.twig' %}
					</div>
				</div>
			-->
			<div id="tournament-log" class="tab-pane fade">
				<div class="page-header">
					<h2>Tournament log</h2>
				</div>
				<div class="col-sm-12">
					<ul class="list-unstyled">
						{% for l in tournament.loglines %}
							<li>
								<span class='log-time'>{{ l.time|date('d/m/Y H:i:s') }}</span><span class="log-line">{{ l.line }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% if is_participating %}
				<div id="mydetails" class="tab-pane fade">
					<div class="page-header">
						<h2>My details</h2>
					</div>
					<form class="form-horizontal" role="form" method="POST" action="{{ path('save_decks') }}">
						{% set decks_required = 0 + tournament.decksettings.getDecksRequired() %}
						{% for a in 1..decks_required %}
							<div class="form-group">
								<label for="decks[]" class="col-sm-4 control-label">Deck {{ loop.index }} *</label>
								<div class="col-sm-8">
									<textarea class="form-control" name="decks[]" rows="3" required>{"types":[1,2,3]}</textarea>
								</div>
							</div>
						{% endfor %}
						{% if tournament.decksettings.getSideboardSize() > 0 %}
							<div class="form-group">
								<label for="sideboard" class="col-sm-4 control-label">Sideboard ({{ tournament.decksettings.getSideboardSize() }} scrolls) *</label>
								<div class="col-sm-8">
									<textarea class="form-control" name="sideboard" rows="3" required>{"types":[1,2,3]}</textarea>
								</div>
							</div>
						{% endif %}
						{% if tournament.registrationsOpen() %}
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<input type="hidden" name="id" value="{{ tournament.id }}" />
									<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save settings</button>
								</div>
							</div>
						{% endif %}
					</form>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}
{% block customcss %}
	<link rel="stylesheet" href="{{ cdn_asset('/assets/styles/vendor/jquery.bracket.css') }}" />
{% endblock %}
{% block customjs %}
	<script type='text/javascript' src='{{ cdn_asset('/assets/js/tournament_renderer.js') }}'></script>
	{% if is_admin %}
		<script type='text/javascript' src='{{ cdn_asset('/assets/js/tournament_admin.js') }}'></script>
	{% endif %}
	{% if is_participating %}
		<script type='text/javascript' src='{{ cdn_asset('/assets/js/tournament_user.js') }}'></script>
	{% endif %}
{% endblock %}