{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-well content-block">
		<div class="col-md-12 category-hdr">

			<div class="page-header">
				<h1><i class="fa fa-pencil"></i> Register for {{ tournament.name }}
					<small>{{ tournamentType(tournament) }}</small>
				</h1>
			</div>
		</div>

		<div class="row content-well">
			<div class="col-lg-12">
				<p>Register here for <b>{{ tournament.name }}</b>.</p>
			</div>
			<form class="form-horizontal" role="form" method="POST" action="{{ path('tournament_enter', { name: tournament.url }) }}">

				<fieldset disabled>
					<div class="form-group">
						<label for="deck" class="col-sm-4 control-label">In Game Name</label>
						<div class="col-sm-8">
							<!-- Always filled out unless person has not an ign on her/hes SG account -->
							<input type="text" class="form-control" name="ign" placeholder="In Game Name" value="{{ ingamename }}" />
						</div>
					</div>
				</fieldset>

				<!--
				<div class="form-group">
					<label for="deck" class="col-sm-4 control-label">Deck</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="deck" placeholder="Deck" required />
					</div>
				</div>
				-->

				{% if tournament.isInviteOnly() %}
					<div class="form-group">
						<label for="invite" class="col-sm-4 control-label">Invite code</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="invite" placeholder="Invite" required {% if invite %}value="{{ invite.code }}" disabled="disabled"{% endif %}/>
						</div>
					</div>
				{% endif %}

				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						{% if invite %}
							<input type="hidden" value="{{ invite.code }}" name="invite" />
						{% endif %}
						<button type="submit" class="btn btn-primary">Participate</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}